@import url('https://fonts.googleapis.com/css?family=PT+Serif&display=swap');
/* font-family: 'PT Serif', serif; */
/* 
녹색: #66a765
갈색: #a8715c
*/

.pt-serif {font-family: 'PT Serif', serif;}
.tip {background-color: #111; position: absolute; padding: 6px 12px; color: #f8f8f8; font-size: 0.75rem; width: 90px; z-index: 9999; border-radius: 4px; left: -30px; top: 30px; transform: translateY(20px); opacity: 0; transition: all 0.5s;}
.tip:after {display: block; content:''; width: 10px; height: 10px; background-color: #111; transform: rotate(45deg) translateX(-50%); position: absolute; top: 0px; left: 50%;}

.top-sub {top: 60px; left: -30px; z-index: 9999; 
	display: flex; box-shadow: 0 3px 5px rgba(0,0,0,0.2); border: 1px solid #ddd; position: absolute; background-color: #fff; 
	display: none; opacity: 0;}
.top-sub-col {width: 300px; min-height: 400px;}

/* transition 복습 */
/*
.box {width: 100px; height: 100px; background-color: #111; transition: all 1s;}
.box:hover {transform: translateY(50px);}
*/



/* Media */
/* 0 ~ 575 - 스마트폰 세로 */
.top-menu {display: block;}
.logo-img {display: none;}
.navi-wrap {display: none;}

.banner-img {width: 130%; margin-left: -15%;}
.banner-slogan {top: 5rem;}
.banner-slogan > h4 {color: #a8715c;}

/* 576 ~ 767 - sm - 스마트폰 가로 */
@media screen and (min-width: 576px) {

}
/* 768 ~ 991 - md - 태블릿 세로 */
@media screen and (min-width: 768px) {
	
}
/* 992 ~ 1199 - lg - 태블릿 가로 */
@media screen and (min-width: 992px) {
	.top-menu {display: none;}
	.logo-img {display: inline-block;}
	.navi-wrap {display: flex;}
}
/* 1200 ~ - xl - PC */
@media screen and (min-width: 1200px) {

}

